# PostgreSQL - user-crud-service
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_USERS=

# PostgreSQL - logs-service
POSTGRES_DB_LOGS=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# Email (notification-service)
EMAIL_USER=
EMAIL_PASS=

# JWT secret (user-crud-service) — cualquier string largo y aleatorio
JWT_SECRET=
